{% extends 'adminheader.html'%}
{% block content %}
<!-- login  -->
<div class="modal-body align-w3">
    <h1> Admin Login</h1>
    <form action="#" method="post" class="p-sm-3">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Username</label>
            <input type="text" class="form-control" placeholder="Email" name="Name" id="recipient-name"
                required="">
        </div>
        <div class="form-group">
            <label for="password" class="col-form-label">Password</label>
            <input type="password" class="form-control" placeholder="*****" name="Pas" id="password" required="">
        </div>
        <div class="right-w3l">
            <input type="submit" class="form-control bg-theme" value="Login">
        </div>
        
       
    </form>
</div>
<!-- //login -->
{% endblock %}